// Commons

//Breakpoint
$desktop: 1440px;
$desktop-mini: 1200px;
$tablet: 768px;
$mobile: 640px;

//colors
$primaryColor: #402944;

$blue-2022: #3f89ff;
$green-2022: #b5d300;
$red-2022: #ff4c44;
$yellow-2022: #fed100;

$blue-bg-2022: #fde7da;
$green-bg-2022: #ede8db;
$red-bg-2022: #fafadc;
$yellow-bg-2022: #dcece8;

$blue-2023: #3c8cff;
$green-2023: #00b482;
$red-2023: #ff323c;
$yellow-2023: #ffdc00;

$blue-bg-2023: #f0ffff;
$green-bg-2023: #f0fff0;
$red-bg-2023: #fff0f0;
$yellow-bg-2023: #ffffe6;


$blue: #3c8cff;
$green: #00b482;
$red: #ff323c;
$yellow: #ffb007;

$blue-bg: #f0ffff;
$green-bg: #f0fff0;
$red-bg: #fff0f0;
$yellow-bg: #ffffe6;

// colors
.line {
  stroke: $primaryColor;
}

.blue, [data-color='blue'] {
  stroke: $blue;
}

.green, [data-color='green'] {
  stroke: $green;
}

.red, [data-color='red'] {
  stroke: $red;
}

.yellow, [data-color='yellow'] {
  stroke: $yellow;
}

.bg-color {
  @at-root body.blue & {
    color: $blue-bg;
  }
  @at-root body.green & {
    color: $green-bg;
  }
  @at-root body.yellow & {
    color: $yellow-bg;
  }
  @at-root body.red & {
    color: $red-bg;
  }
}

// Typography
@font-face {
  font-family: 'Basis Grotesque';
  src:url('assets/fonts/BasisGrotesque-Regular.woff2') format('woff2'),
      url('assets/fonts/BasisGrotesque-Regular.woff') format('woff'),
      url('assets/fonts/BasisGrotesque-Regular.ttf') format('ttf'),
      url('assets/fonts/BasisGrotesque-Regular.svg') format('svg'),
      url('assets/fonts/BasisGrotesque-Regular.eot') format('eot');
  font-weight: 400;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:url('assets/fonts/BasisGrotesque-Italic.woff2') format('woff2'),
      url('assets/fonts/BasisGrotesque-Italic.woff') format('woff'),
      url('assets/fonts/BasisGrotesque-Italic.ttf') format('ttf'),
      url('assets/fonts/BasisGrotesque-Italic.svg') format('svg'),
      url('assets/fonts/BasisGrotesque-Italic.eot') format('eot');
  font-weight: 400;
  font-style: italic;
}


.s-large { 
  font-size: 9vw;
  line-height: 1;
}

.s-medium { 
  font-size: 54px;
  line-height: 1;
}

.s-big { 
  font-size: 32px;
  line-height: 1;
}

.s-regular {
	font-size: 21px;
}

.s-small {
  font-size: 14px;
}


// grid system
$spacing: 30px;
$half-spacing: $spacing/2;
$double-spacing: $spacing*2;
$triple-spacing: $spacing*3;
$fourfold-spacing: $spacing*4;

$col: 8.3333%;

// col system
.d-one-third {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-half {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-thirds{
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-whole {
  width: calc(100% - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-one-twelfth {
  width: calc(#{$col} - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-two-twelfth {
  width: calc(#{$col}*2 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-three-twelfth {
  width: calc(#{$col}*3 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-four-twelfth {
  width: calc(#{$col}*4 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-six-twelfth {
  width: calc(#{$col}*6 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eight-twelfth {
  width: calc(#{$col}*8 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-nine-twelfth {
  width: calc(#{$col}*9 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-ten-twelfth {
  width: calc(#{$col}*10 - #{$spacing});
  margin: 0 #{$half-spacing};
}

.d-eleven-twelfth {
  width: calc(#{$col}*11 - #{$spacing});
  margin: 0 #{$half-spacing};
}


// spacers
.spacing-b-1 {
  margin-bottom: $half-spacing;
}

.spacing-b-2 {
  margin-bottom: $spacing;
}

.spacing-b-3 {
  margin-bottom: $double-spacing;
}

.spacing-b-4 {
  margin-bottom: $triple-spacing;
}

.spacing-t-1 {
  margin-top: $half-spacing;
}

.spacing-t-2 {
  margin-top: $spacing;
}

.spacing-t-3 {
  margin-top: $double-spacing;
}

.spacing-t-4 {
  margin-top: $triple-spacing;
}

// padding
.spacing-p-b-half {
  padding-bottom: $half-spacing/2;
}

.spacing-p-b-1 {
  padding-bottom: $half-spacing;
}

.spacing-p-b-2 {
  padding-bottom: $spacing;
}

.spacing-p-b-3 {
  padding-bottom: $double-spacing;
}

.spacing-p-b-4 {
  padding-bottom: $triple-spacing;
}

.spacing-p-t-half {
  padding-top: $half-spacing/2;
}

.spacing-p-t-1 {
  padding-top: $half-spacing;
}

.spacing-p-t-2 {
  padding-top: $spacing;
}

.spacing-p-t-3 {
  padding-top: $double-spacing;
}

.spacing-p-t-4 {
  padding-top: $triple-spacing;
}